<% include ../partials/header %>
<div class="container">
     <header class="jumbotron">
    <h1 id="finh">Welcome to FinSmart!</h1>
    <form class="form-inline" action="#" method="GET">
      <div class="form-group has-feedback">
        <label for="search"></label>
        <input class="form-control" type="text" name="search" placeholder="Search..." autocomplete="off" />
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      </div>
    </form>
    <hr>
    <a class="pull-right" href="/mainpage/new">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add
    </a>
  </header>
 
  <section>
    <div class="container">
      <centre><h2>NGO</h2></centre>
      <hr>
      <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn-images-1.medium.com/max/1496/1*BWZp1CB1u7QE1CAr6eewrA.jpeg" alt="Entreprenuers">
      <div class="caption">
        <h3>Making Chatbots</h3>
        <p>I am quoted on entrepreneur.com as  "ChatBot expert Murray Newlands commented that "Where 10 years ago every company needed a website and five  years ago every company needed an app, now every company needs to embrace messaging with AI and chatbots." That brings opportunity and jobs. </p>
        <p><a href="#" class="btn btn-primary" role="button">Know more</a></p>
      </div>
    </div>
  </div>
</div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <centre><h2>Old Age Home</h2></centre>
      <hr>
     <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn-images-1.medium.com/max/1496/1*BWZp1CB1u7QE1CAr6eewrA.jpeg" alt="Entreprenuers">
      <div class="caption">
        <h3>Making Chatbots</h3>
        <p>I am quoted on entrepreneur.com as  "ChatBot expert Murray Newlands commented that "Where 10 years ago every company needed a website and five  years ago every company needed an app, now every company needs to embrace messaging with AI and chatbots." That brings opportunity and jobs. </p>
        <p><a href="#" class="btn btn-primary" role="button">Know more</a></p>
      </div>
    </div>
  </div>
</div> 
    </div>
  </section>
</div>
 

  
<% include ../partials/footer %>